body {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: rgb(198, 238, 247);
}

.conteneur {
  margin-top: 100px;
  width: 600px;
  height: 400px;
  display: flex;
}

#logo {
  width: 340px;
  height: 400px;
  border: 1px solid black;
  margin-right: 10px;
  float: left;
  text-align: center;
  background-color: white;
}

#logo img {
  width: 200px;
  height: auto;
}


#login {
  width: 250px;
  border: 1px solid black;
  margin-bottom: 6px;
  text-align: justify;
  background-color: white;
}

#login input { display:inline-block; }
#login label { display:inline-block; width:100px; }

#signup {
  width: 250px;
  border: 1px solid black;
  text-align: justify;
  background-color: white;
}

#signup input { display:inline-block; }
#login label { display:inline-block; width:100px; }

.connection {
  float: right;
}
