body {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: rgb(198, 238, 247);
}

form {
  margin-bottom: 1px;
}

h1 {
  font-family: Bookman sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

.conteneur {
  margin-top: 100px;
  width: 600px;
  height: 400px;
  display: flex;
}

#logo {
  width: 340px;
  height: 400px;
  border: 1px solid black;
  margin-right: 10px;
  float: left;
  text-align: center;
  background-color: white;
}

#logo img {
  width: 200px;
  height: auto;
}


#login {
  width: 250px;
  border: 1px solid black;
  margin-bottom: 6px;
  text-align: justify;
  background-color: white;
  padding: 2px;
}

#login input { display:inline-block; }
#login label { display:inline-block; width:100px; }

#signup {
  width: 250px;
  border: 1px solid black;
  text-align: justify;
  background-color: white;
  padding: 2px;
}

#signup h3 {
  margin-top: 10px;
}

/*.connection label {
float: left;
text-align: right;
margin-bottom: 5px;
}

.connection input, select {
float: right;
text-align: left;
}*/

.connection {
  float: right;
  height: 400px;
}

h5 {
  font-size: 15px;
  font-weight: lighter;
  color: red;
  margin-bottom: 0px;
  margin-top: 2px;
}

.highlighted {
  background-color: red;
}
